.player {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
}

.playlistButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;

}