aside.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

aside.logo img {
    padding: 0px 15px;
    width: 60%;
}

@media(max-width: 576px) {
    aside.logo img {
        width: 120px;
    }
}